
<div class="center">
	<div id="wrapper">
		<% form_for :question, @question do |form| %>
		<div id="shadow">
			<div id="question">
				<p><textarea name="question" class="questionbox" onfocus="if(this.value = this.defaultValue){this.value=''}" onblur="if(this.value==''){ this.value=this.defaultValue }">Just type your question here, ok</textarea></p>
			</div>
			<div id="options">
				<p><textarea name="option" class="optionbox"></textarea></p>
				<div class="buttons">
					<p><input type="submit" name="submit" value="lol post it!"></p>
				</div>
			</div>
		</div>
		<% end %>
		<div id="footer">
			<%= render :partial => 'layouts/footer' %>
		</div>
	</div>
</div>

