<div class="center">
	<div id="wrapper">
		<div id="shadow">
			<div id="question">
				<p>
					<em>
						this is the question					</em><span>?</span>
				</p>
			</div>
			<div id="options">
				<form name="options" action="lol" method="POST">
				<div class="voting">
					<ul>
					
						<li><em><input type="radio" name="vote" value="$"></em>  $option </li>
						
					
					</ul>
				</div>
				<div class="buttons">
					<p>
					
					
					<input type="submit" value="vote"><em><a href="http://poll.cm/1" title=""> <?php echo $totalvotes; ?> votes so far</a></em></p>
				</div>
				</form>
			</div>
		</div>
		<div id="footer">
			<p class="left strong"><a href="http://poll.cm" title="Make your own poll">Make your own poll!</a></p>
<p class="right">12 questions | 32546 votes | <strong>poll.cm &copy;</strong></p>
		</div>
	</div>
</div>
