<div class="center">
	<div id="wrapper">
		<div id="shadow">
			<div id="question">
				<p>
					<em>
						<%= @question.question %>
					</em><span>?</span>
				</p>
			</div>
			<div id="options">
				<%= form_tag(votes_path, :method => "post") do %>
				<div class="voting">
					<ul>
					
						<% @options.each do |option| %>
						<li><em><input type="radio" name="vote" value="<%= option.id %>"></em>  <%= option.option %> </li>
						<% end %>
					
					</ul>
				</div>
				<div class="buttons">
					<p>
					
					
					<input type="submit" value="vote"><em><a href="http://poll.cm/1" title=""> <?php echo $totalvotes; ?> votes so far</a></em></p>
				</div>
				<% end %>
			</div>
		</div>
		<div id="footer">
			<p class="left strong"><a href="http://poll.cm" title="Make your own poll">Make your own poll!</a></p>
<p class="right">12 questions | 32546 votes | <strong>poll.cm &copy;</strong></p>
		</div>
	</div>
</div>
