	<div id="wrapper">
		<div id="shadow">


		
<div id="question">
<p><em><%= @question.question %></em><span>?</span></p>
</div>

	
			<%= render 'results' %>
	



</div>


			


		</div>
		<div id="footer">
			<%= render :partial => 'layouts/footer' %>
		</div>
	</div>
</div>
