	<div id="wrapper">
		<div id="shadow">


		
<div id="question">
<p><em>$question</em><span>?</span></p>
</div>
<div id="results">
	<div class="voting">
		<div class="reswrap">
			<ul>
				<li><p>$option</p><p class="stats">123 votes | 20%</p><p class="bar"><em style="width: 50%"></em></p></li>
				<li><p>$option</p><p class="stats">123 votes | 20%</p><p class="bar"><em style="width: 50%"></em></p></li>
			</ul>
			
			<div class="graph"><img src="http://chart.apis.google.com/chart?chs=370x225&cht=p&chco=C3C523&chd=t:1,2,3&chl=hi|hi|HI" /></div>
			
		</div>
	</div>
<div class="buttons">

<p><span>Results appear in real time | <a href=\"http://poll.cm/$pollid\" title=\"\">$totalvotes votes so far</a></span></p>

</div>
</div>


			


		</div>
		<div id="footer">
			<p class="left strong"><a href="http://poll.cm" title="Make your own poll">Make your own poll!</a></p>
<p class="right">12 questions | 32546 votes | <strong>poll.cm &copy;</strong></p>
		</div>
	</div>
</div>
