<% #add to view counter
if @question.views.nil?
  @question.views = 1
  @question.save
else
  @question.views = @question.views + 1
  @question.save
end 
%>

	<div id="wrapper">
		<div id="shadow">


		
<div id="question">
<p><em><%= @question.question %></em><span>?</span></p>
</div>

	
			<%= render 'results' %>
	



</div>


			


		</div>
		<div id="footer">
			<%= render :partial => 'layouts/footer' %>
		</div>
	</div>
</div>
