<p class="left strong"><a href="http://poll.cm" title="Make your own poll">Make your own poll!</a></p>
<p class="right"><%= @totalquestions %> questions | <%= @totalvotes %> votes | <strong>poll.cm &copy;</strong></p>


<script>
$(document).ready(function(){
	$('.left').jrumble();
});
</script>