<!DOCTYPE html>
<head> 
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
	<meta name="keywords" content=""> 
	<meta name="copyright" content=""> 
	<meta name="robots" content="index,follow"> 
	<meta name="description" content=""> 
	<link rel="shortcut icon" href="favicon.png"> 
	
	<%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
	
	<title>Poll.cm - Make your own polls</title> 
</head>
<body id="top">
	
	

<%= yield %>

</body>
</html>