<!-- If you want to see some super interesting stats, check out this page. http://poll.cm/stats -->

<!DOCTYPE html>
<head> 

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
	<meta name="keywords" content=""> 
	<meta name="copyright" content=""> 
	<meta name="robots" content="index,follow"> 
	<meta name="description" content=""> 
	<link rel="shortcut icon" href="favicon.png"> 
	
	<%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
	
	<title>Poll.cm - <%= @title %></title> 
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24270669-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body id="top">
	
	

<%= yield %>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4ef56890f5a1f53cca00000d');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

</body>
</html>