<!DOCTYPE html>
<head> 
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
	<meta name="keywords" content=""> 
	<meta name="copyright" content=""> 
	<meta name="robots" content="index,follow"> 
	<meta name="description" content=""> 
	<link rel="shortcut icon" href="favicon.png"> 
	
	<%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
	
	<title>Poll.cm - Make your own polls</title> 
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24270669-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body id="top">
	
	

<%= yield %>

</body>
</html>